{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin Comic</title>

  <link rel="stylesheet" href="{% static 'admin/css/styles.min.css' %}" />
  <link rel="stylesheet" href="{% static 'admin/css/styles.css' %}" />

  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="{% url 'home' %}">
            <img src="{% static 'user/img/logo_text.png' %}" width="180" alt="" />
          </a>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Truyện</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'homeadmin' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Thông Tin Chung</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'categoryadmin' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-article"></i>
                </span>
                <span class="hide-menu">Thể Loại</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'comicadmin' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-article"></i>
                </span>
                <span class="hide-menu">Truyện</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'chapadmin' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-article"></i>
                </span>
                <span class="hide-menu">Chap</span>
              </a>
            </li>


            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Thành Viên</span>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'useradmin' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-article"></i>
                </span>
                <span class="hide-menu">Tài Khoản</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </aside>



    <div class="body-wrapper">
      <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
              <li class="nav-item dropdown">
                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <img src="{% static 'admin/images/profile/user-1.jpg' %}" alt="" width="35" height="35" class="rounded-circle">
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                  <div class="message-body">

                    <a href="{% url 'infomation' %}" class="d-flex align-items-center gap-2 dropdown-item">
                        <p class="mb-0 fs-3">Thông Tin Cá Nhân</p>
                    </a>

                    <a href="{% url 'follow' %}" class="d-flex align-items-center gap-2 dropdown-item">
                      <p class="mb-0 fs-3">Truyện Theo Dõi</p>
                    </a>

                    <a href="{% url 'logout' %}" class="btn btn-outline-primary mx-3 mt-2 d-block">Đăng Xuất</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>


      </header>

      {% block homeadmin %}{% endblock homeadmin %}
      {% block categorya %}{% endblock categorya %}
      {% block test %}{% endblock test %}
      {% block comic %}{% endblock comic %}
      {% block user %}{% endblock user %}
      {% block chap %}{% endblock chap %}
</div>



  <script src="{% static 'admin/libs/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'admin/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'admin/js/sidebarmenu.js' %}"></script>
  <script src="{% static 'admin/js/app.min.js' %}"></script>
  <script src="{% static 'admin/libs/apexcharts/dist/apexcharts.min.js' %}"></script>
  <script src="{% static 'admin/libs/simplebar/dist/simplebar.js' %}"></script>
  <script src="{% static 'admin/js/dashboard.js' %}"></script>
</body>

</html>