{% extends 'admin/baseadmin.html' %}
{% load static %}
{% block chap %}
    {% include 'admin/message.html' %}
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h5 class="card-title fw-semibold mb-0">Truyện</h5>
                        <a class="btn btn-success" href="{% url 'add_chap' %}">Thêm chap</a>
                        
                    </div>
                    <table class="table align-items-center text-center">
                        <thead>
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">Ảnh</th>
                            <th scope="col">Tên Chap</th>
                            <th scope="col">Thao Tác</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for chap in chapter %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td><img src="{{ chap.image.url }}" alt="Ảnh" style="max-width: 100px;"></td>
                                    <td>{{ chap.story.name }} - {{ chap.name }}</td>

                                    <td>
                                        <!-- Add your action buttons here, such as edit, delete, etc. -->
                                        <a href="{% url 'edit_chap' chap.id %}" class="btn btn-primary">Sửa</a>
                                        <a class="btn btn-danger"
                                           data-toggle="modal"
                                           data-target="#deleteCategoryModal_{{ chap.id }}">Xóa</a>
                                        <div class="modal" id="deleteCategoryModal_{{ chap.id }}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Xóa Truyện</h5>
                                                        <button type="button" class="close" data-dismiss="modal">
                                                            &times;
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Bạn có chắc chắn muốn xóa chap "{{ chap.name }}"?</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                                        <form action="{% url 'delete_chap' chap.id %}"
                                                              method="post">
                                                            {% csrf_token %}
                                                            <button type="submit" class="btn btn-danger">Xóa</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock chap %}