{% extends 'admin/baseadmin.html' %}
{% load static %}
{% block chaper %}
<div class="container-fluid">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h5 class="card-title fw-semibold mb-0">Thể Loại Truyện</h5>
                    <button type="button" class="btn btn-success">Thêm Thể Loại</button>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="fw-bold">Tên:</p>
                    </div>
                    <div class="col">
                        <p class="fw-bold">Số Chap:</p>
                    </div>
                    <div class="col">
                        <p class="fw-bold text-end">Thao Tác:</p> 
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col">
                                <p>Tên Thể Loại 1</p>
                            </div>
                            <div class="col">
                                <p>Số Chap 1</p>
                            </div>
                            <div class="col d-flex justify-content-end text-end"> <!-- Thêm lớp 'text-end' để căn chỉnh sang phải -->
                                
                                <button type="button" class="btn btn-chaper me-2">thêm chap</button>
                                
                            </div>
                        </div>
                    </div>
                </div>

                

            </div>
        </div>
    </div>
</div>

{% endblock chaper%}