{% extends 'admin/baseadmin.html' %}
{% load static %}
{% block comic %}


<div class="container-fluid">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h5 class="card-title fw-semibold mb-0">Truyện</h5>
                    <button type="button" class="btn btn-success">Thêm Truyện</button>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="fw-bold mb-0">Hình Ảnh</p>
                    </div>
                    <div class="col">
                        <p class="fw-bold mb-0">Tên Truyện</p>
                    </div>
                    <div class="col">
                        <p class="fw-bold mb-0">Số Chap</p>
                    </div>
                    <div class="col">
                        <p class="fw-bold mb-0">Thao Tác</p>
                    </div>
                </div>

                {% for comic in comics %}
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col">
                                <img src="{{ comic.ImageURL }}" alt="" class="img-fluid" width="70" height="70">
                            </div>
                            <div class="col">
                                <p class="mb-0">{{ comic.name }}</p>
                            </div>
                            <div class="col">
                                <p class="mb-0">{{ category.slug }}</p>
                            </div>
                            <div class="col-4 d-flex justify-content-end text-end">
                                <button type="button" class="btn btn-primary me-2">Sửa</button>
                                <button type="button" class="btn btn-danger">Xóa</button>
                            </div>
                        </div>
                    </div>
                </div>
                 {% endfor %}

            </div>
        </div>
    </div>
</div>




{% endblock comic %}


