{% extends 'admin/baseadmin.html' %}
{% load static %}
{% block homeadmin %}

<div class="container-fluid">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <!-- Biểu đồ -->
        <canvas id="myChart" width="400" height="200"></canvas>
      </div>
    </div>
  </div>
</div>

<script>
  // Lấy tham chiếu đến phần tử canvas
  var ctx = document.getElementById('myChart').getContext('2d');

  // Tạo biểu đồ
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Ngày', 'Tuần', 'Tháng'],
      datasets: [{
        label: 'Số lượt đọc',
        data: [0, 500, 1500], 
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)'
        ],
        borderColor: [
          'rgba(255, 99, 132, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)'
        ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>





{% endblock homeadmin %}