{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Truyện Tranh Online</title>

    <!-- Bootstrap CSS v5.2.1 -->
    <link rel="stylesheet" href="{% static 'user/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/app.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/all.min.css' %}">


 <!-- Import jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Import Slick Carousel CSS -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-W1IeQzeT7JnvpzOKtz+ryIKG6Qm6FZlYwZ3VsU5+yQ5zYb5f4kjc+oMglaZDJglrGXzFpzbK2eDuQvKGJ/9ZKQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />



<!-- Import Slick Carousel JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.bundle.min.js" integrity="sha512-X9bBrKBrb7T4ATV/kX2+88FIs/uKOk5+L0sBZth0gPhly5tG9rVnS15l7o1yVtx+4R2k39p7b0agpUm85wBzTQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    



</head>

<body>
    

    
    
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark header__navbar p-md-0">
            <div class="container">
                <a href="{% url 'home' %}" class="navbar-brand">
                    <img src="{% static 'images/logo_text.png' %}" alt="Logo truyen tranh" class="img-fluid" style="max-width: 200px;">
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <form class="d-flex header__form-search" action="{% url 'search' %}" method="GET">
                        {% csrf_token %}
                        <input class="form-control me-2 search-story" type="text" placeholder="Tìm kiếm" name="key_word" value="{{ key }}">
                        <button class="btn" type="submit">
                            <svg height="1em" viewBox="0 0 512 512">
                                <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"></path>
                            </svg>
                        </button>
                    </form>
                    {% if user.is_authenticated %}
                    <div class="header__auth-buttons d-flex align-items-center ms-md-auto">
                        <div class="dropdown">
                            <button class="btn btn-profile dropdown-toggle me-2" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg height="1em" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12 12C15.3137 12 18 9.31371 18 6C18 2.68629 15.3137 0 12 0C8.68629 0 6 2.68629 6 6C6 9.31371 8.68629 12 12 12ZM12 14C8.00001 14 0 15.6863 0 18V20C0 20.5523 0.447715 21 1 21H23C23.5523 21 24 20.5523 24 20V18C24 15.6863 16 14 12 14Z" fill="currentColor"/>
                                </svg>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="{% url 'infomation' %}">Thông Tin Cá Nhân</a></li>
                                <li><a class="dropdown-item" href="{% url 'follow' %}">Truyện Theo Dõi</a></li>
                                <li><a class="dropdown-item" href="{% url 'changepassword' %}">Đổi mật khẩu</a></li>
                                {% if user.is_staff %}
                                    <li><a class="dropdown-item" href="{% url 'categoryadmin' %}">Quản Lý</a></li>
                                {% endif %}
                                <li><a class="dropdown-item" href="{% url 'logout' %}">Đăng Xuất</a></li>
                            </ul>
                        </div>
                    </div>
                {% else %}
                    <div class="header__auth-buttons d-flex align-items-center ms-md-auto">
                        <a href="{% url 'login' %}" class="btn btn-login me-2">Đăng nhập</a>
                        <a href="{% url 'register' %}" class="btn btn-register">Đăng ký</a>
                    </div>
                    {% endif %}

                </div>
            </div>
        </nav>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
              <a class="navbar-brand" href="{% url 'home' %}"> Trang Chủ</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                    
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Thể loại</a>
                        
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            {% for category in categories %}
                            <li><a class="dropdown-item" href="{% url 'categoryuser' %}?category={{ category.id }}">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Xếp hạng</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                      
                      <li><a class="dropdown-item" href="#">Xếp hạng ngày</a></li>
                      <li><a class="dropdown-item" href="#">Xếp hạng tuần</a></li>
                      <li><a class="dropdown-item" href="#">Xếp hạng tháng</a></li>
                      
                    </ul>

                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#"> Theo Dõi</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#"> Lịch Sử</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#"> Fanpage</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#"> Chính Sách Bảo Mật</a>
                </li>


                </ul>
              </div>
            </div>
          </nav>
    </header>
    
    {% block home %}{% endblock home %}
    {% block category %}{% endblock category %}
    {% block detai %}{% endblock detai %}
    {% block chap %}{% endblock chap %}
    {% block information %}{% endblock information %}
    {% block login %}{% endblock login %}
    {% block register %}{% endblock register %}
    {% block readcomic %}{% endblock readcomic %}
    {% block Search %}{% endblock Search %}
    {% block follow  %}{% endblock follow  %}
    {% block changepassword %}{% endblock changepassword %}

    <footer class="footer-area section_gap">
        <div id="footer" class="footer border-top pt-2">
            <div class="container">
                <div class="row">
    
                    <div class="col-12 col-md-5">
                        <a href="{% url 'home' %}" class="navbar-brand">
                            <img src="{% static 'images/logo_text.png' %}" alt="truyen tranh" class="img-fluid" style="max-width: 200px;">
                        </a>
                    </div>
    
                    <ul class="col-12 col-md-7 list-unstyled d-flex flex-wrap list-tag">
                        
                        <li class="me-1">
                            <span class="badge text-bg-light"><a class="text-dark text-decoration-none"
                                    href="#" title="đam mỹ hài">Chính sách bảo mật </a></span>
                        </li>
    
                        <li>
                            <span class="badge text-bg-light"><a class="text-dark text-decoration-none"
                                    href="#" title="truyện xuyên nhanh">bản quyền</a></span>
                        </li>

                        <li>
                            <span class="badge text-bg-light"><a class="text-dark text-decoration-none"
                                    href="#" title="truyện xuyên nhanh">Quy định nội dung</a></span>
                        </li>

                        <li>
                            <span class="badge text-bg-light"><a class="text-dark text-decoration-none"
                                    href="#" title="truyện xuyên nhanh">Điều khoản sử dụng </a></span>
                        </li>

                        <li>
                            <span class="badge text-bg-light"><a class="text-dark text-decoration-none"
                                    href="#" title="truyện xuyên nhanh">Quyền riêng tư </a></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    
    
    <script src="{% static 'user/js/jquery.min.js' %}"></script>
    <script src="{% static 'user/js/popper.min.js' %}"></script>
    <script src="{% static 'user/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'user/js/app.js' %}"></script>
    <script src="{% static 'user/js/common.js' %}"></script>    
    <script src="{% static 'user/js/js.js' %}"></script>
    
    
</body>

</html>
