{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Truyện Tranh Online</title>

    <!-- Bootstrap CSS v5.2.1 -->
    <link rel="stylesheet" href="{% static 'user/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/app.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/css.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/all.min.css' %}">


 <!-- Import jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Import Slick Carousel CSS -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
<!-- Import Slick Carousel JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

    



</head>

<body>
    <style>
        .container {
            max-width: 900px;
            margin: 0 auto;
            
           
            border-radius: 10px;
        }
    </style>

    
    
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark header__navbar p-md-0">
            <div class="container">
                <a href="{% url 'home' %}" class="navbar-brand">
                    <img src="{% static 'user/img/logo_text.png' %}" alt="Logo Suu Truyen" class="img-fluid" style="max-width: 200px;">
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Thể loại
                            </a>
                            <ul class="dropdown-menu dropdown-menu-custom">
                                <li><a class="dropdown-item" href="#">Ngôn Tình</a></li>
                                <li><a class="dropdown-item" href="#">Trọng Sinh</a></li>
                                <li><a class="dropdown-item" href="#">Cổ Đại</a></li>
                                <li><a class="dropdown-item" href="#">Tiên Hiệp</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Thể loại
                            </a>
                            <ul class="dropdown-menu dropdown-menu-custom">
                                <li><a class="dropdown-item" href="#">Ngôn Tình</a></li>
                                <li><a class="dropdown-item" href="#">Trọng Sinh</a></li>
                                <li><a class="dropdown-item" href="#">Cổ Đại</a></li>
                                <li><a class="dropdown-item" href="#">Tiên Hiệp</a></li>
                            </ul>
                        </li>
                    </ul>

                    <form class="d-flex header__form-search " action="" method="GET">
                        <input class="form-control me-2 search-story" type="text" placeholder="Tìm kiếm" name="key_word" value="">
                        <button class="btn" type="submit">
                            <svg height="1em" viewBox="0 0 512 512">
                                <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"></path>
                            </svg>
                        </button>
                    </form>
                    
                    
                    {% if user.is_authenticated %}
                    <div class="header__auth-buttons d-flex align-items-center ms-md-auto">
                        <div class="dropdown">
                            <button class="btn btn-profile dropdown-toggle me-2" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg height="1em" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12 12C15.3137 12 18 9.31371 18 6C18 2.68629 15.3137 0 12 0C8.68629 0 6 2.68629 6 6C6 9.31371 8.68629 12 12 12ZM12 14C8.00001 14 0 15.6863 0 18V20C0 20.5523 0.447715 21 1 21H23C23.5523 21 24 20.5523 24 20V18C24 15.6863 16 14 12 14Z" fill="currentColor"/>
                                </svg>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="{% url 'infomation' %}">Thông tin cá nhân</a></li>
                                {% if user.is_staff %}
                                    <li><a class="dropdown-item" href="{% url 'homeadmin' %}">Quản lý</a></li>
                                {% endif %}
                                <li><a class="dropdown-item" href="#">theo dõi</a></li>
                                <li><a class="dropdown-item" href="{% url 'logout' %}">Đăng xuất</a></li>
                            </ul>
                        </div>
                    </div>
                {% else %}
                    <div class="header__auth-buttons d-flex align-items-center ms-md-auto">
                        <a href="{% url 'login' %}" class="btn btn-login me-2">Đăng nhập</a>
                        <a href="{% url 'register' %}" class="btn btn-register">Đăng ký</a>
                    </div>
                    {% endif %}

                </div>
            </div>
        </nav>

        
    </header>
    
    {% block home %}{% endblock home %}
    {% block category %}{% endblock category %}
    {% block detai %}{% endblock detai %}
    {% block chap %}{% endblock chap %}
    {% block information %}{% endblock information %}
    {% block login %}{% endblock login %}
    {% block register %}{% endblock register %}
    

    <footer class="footer-area section_gap">
        <div id="footer" class="footer border-top pt-2">
            <div class="container">
                <div class="row">
    
                    <div class="col-12 col-md-5">
                        <a href="{% url 'home' %}" class="navbar-brand">
                            <img src="{% static 'user/img/logo_text.png' %}" alt="Logo Suu Truyen" class="img-fluid" style="max-width: 200px;">
                        </a>
                    </div>
    
                    <ul class="col-12 col-md-7 list-unstyled d-flex flex-wrap list-tag">
                        
                        <li class="me-1">
                            <span class="badge text-bg-light"><a class="text-dark text-decoration-none"
                                    href="#" title="đam mỹ hài">Chính sách bảo mật </a></span>
                        </li>
    
                        <li>
                            <span class="badge text-bg-light"><a class="text-dark text-decoration-none"
                                    href="#" title="truyện xuyên nhanh">bản quyền</a></span>
                        </li>

                        <li>
                            <span class="badge text-bg-light"><a class="text-dark text-decoration-none"
                                    href="#" title="truyện xuyên nhanh">Quy định nội dung</a></span>
                        </li>

                        <li>
                            <span class="badge text-bg-light"><a class="text-dark text-decoration-none"
                                    href="#" title="truyện xuyên nhanh">Điều khoản sử dụng </a></span>
                        </li>

                        <li>
                            <span class="badge text-bg-light"><a class="text-dark text-decoration-none"
                                    href="#" title="truyện xuyên nhanh">Quyền riêng tư </a></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    
    
    
     
    
    
    

    <script src="{% static 'user/js/jquery.min.js' %}"></script>
    <script src="{% static 'user/js/popper.min.js' %}"></script>
    <script src="{% static 'user/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'user/js/app.js' %}"></script>
    <script src="{% static 'user/js/common.js' %}"></script>
    <script src="{% static 'user/js/js.js' %}"></script>
    
    
</body>

</html>
