{% extends 'user/base.html' %}
{% load static %}
{% block category %}

    <main>
        <div class="container">
            <div class="row align-items-start">
                <div class="col-12 col-md-8 col-lg-9 mb-3">
                    <div class="head-title-global d-flex justify-content-between mb-2">
                        <div class="col-12 col-md-12 col-lg-12 head-title-global__left d-flex">
                            <h2 class="me-2 mb-0 border-bottom border-secondary pb-1">
                                <span href="#" class="d-block text-decoration-none text-dark fs-4 category-name"
                                    title="Ngôn Tình">Thiếu Nhi</span>
                            </h2>
                        </div>
                    </div>

                    <div class="row row-cols-1 row-cols-md-4">

                        <div class="story-item">
                            <a href="#" class="d-block text-decoration-none">
                                <div class="story-item__image">
                                    <img src="{% static 'user/img/thandongdatviet/than-dong-dat-viet.jpg' %}" alt="tucam" loading="lazy">
                                </div>
                                <h3 class="story-item__name text-one-row story-name">Thần Đồng Đất Việt</h3>
                            </a>
                        </div>
    
                        <div class="story-item">
                            <a href="#" class="d-block text-decoration-none">
                                <div class="story-item__image">
                                    <img src="{% static 'user/img/doremon/doremon.png' %}" alt="tucam" loading="lazy">
                                </div>
                                <h3 class="story-item__name text-one-row story-name">Doremon</h3>
                                
                            </a>
                        </div>
            
                        <div class="story-item">
                            <a href="#" class="d-block text-decoration-none">
                                <div class="story-item__image">
                                    <img src="{% static 'user/img/dauphathuongkhung/dau_pha_thuong_khung.jpg' %}" alt="tucam" loading="lazy">
                                </div>
                                <h3 class="story-item__name text-one-row story-name">Đấu Phá Thương Khung</h3>
                               
                            </a>
                        </div>


                    </div>
                </div>

                <div class="col-12 col-md-4 col-lg-3 sticky-md-top order-md-last"> 
                    <div class="category-description bg-light p-2 rounded mb-3 card-custom">
                        <p class="mb-0 text-secondary"></p>
                        <h4>Giới Thiệu </h4>
                        <p>Thể loại truyện thiếu nhi là một thế giới vô cùng đa dạng và phong phú, đem lại niềm vui, sự hứng thú và kỹ năng cho trẻ em. </p>
                    </div>
                </div>

            </div>
        </div>
    </main>

{% endblock category %}
