{% extends 'user/base.html' %}
{% load static %}
{% block detai %}
    {% include 'admin/message.html' %}

    <main>
        <div class="wrapper">
            <div class="containerr">
                
                <div class="story-header">
                    <img src="{{comic.ImageURL}}" alt="Ảnh truyện"> 
                    <div class="story-info">
                        <h3> {{ comic.name }}  </h3>
                        <p><strong>Tác giả:</strong> {{ comic.author }}</p>

                        <p><strong>Thể loại:</strong>
                            {% for category in comic.categories.all %}
                                {{ category.name }}
                                {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                        

                        {% comment %} <p><strong>Tình trạng:</strong> {{ comic.status }}</p> {% endcomment %}
                        <p><strong>Lượt thích:</strong> <span id="comic_likes">{{ comic.likes }}</span></p>
                        <p><strong>Lượt theo dõi:</strong> 0 </p>
                        <p><strong>Lượt xem:</strong> {{ comic.view }} </p>

                            <div class="buttons">
                                <button class="action-btn read-from-beginning">Đọc Từ Đầu</button>
                                <button class="primary-btn btn-sm border-0" type="submit">Bỏ theo dõi</button>
                                <button class="primary-btn btn-sm border-0" type="submit">Theo dõi</button>
                                <button class="action-btn like" data-comic-id="{{ comic.id }}">Thích</button>
                            </div>
            
                        <script>
                                                                                    
                            $(document).ready(function() {
                                // doc tu dau
                                $('.read-from-beginning').click(function() {
                                    var lastChapterUrl = $('.chapter-list__item:last-child a').attr('href');
                                    window.location.href = lastChapterUrl;
                                });
                            });
                        </script>
                        
                    </div>
                </div>


                <h5>Nội dung truyện: {{ comic.name }} </h5>
                <div class="story-introduction">
                    <p>
                        {{ comic.Describe }}
                    </p>
                </div>
                

                <div class="chapter-list">
                    <h4 class="chapter-list__title">Danh sách chương</h4>
                    <ul class="chapter-list__items">
                        {% for chap in chapters %}
                        <li class="chapter-list__item">
                            <a href="{% url 'readcomic' chapter_slug=comic.slug %}?chap={{ chap.id }}">{{ chap.name }}</a>
                        </li>
                        {% endfor %}
                        
                    </ul>
                </div>

                <style>
                    .chapter-list {
                        border: 1px solid #ddd;
                        padding: 10px;
                        border-radius: 5px;
                    }
                    
                    .chapter-list__title {
                        font-size: 18px;
                        margin-bottom: 10px;
                        color: #333;
                    }
                    
                    .chapter-list__items {
                        list-style: none;
                        padding: 0;
                    }
                    
                    .chapter-list__item {
                        margin-bottom: 5px;
                    }
                    
                    .chapter-list__item a {
                        text-decoration: none;
                        color: #007bff;
                        transition: color 0.3s ease;
                    }
                    
                    .chapter-list__item a:hover {
                        color: #0056b3;
                    }
                    
                </style>
            </div>
        </div>
    </main>


    {% endblock detai %}
