{% extends 'user/base.html' %}
{% load static %}
{% block follow  %}

<div class="home-container">
    <div class="row">
        <div class="head-title-global d-flex justify-content-between mb-2">
            <div class="col-4 col-md-3 col-lg-2 head-title-global__left d-flex align-items-center">
                <h2 class="me-2 mb-0 border-bottom border-secondary pb-1">
                    <a href="#" class="d-block text-decoration-none text-dark fs-4 story-name"
                        title="Truyện Hot"> Theo Dõi</a>
                </h2>
                <i class="fa-solid fa-fire-flame-curved"></i>
            </div>
        </div>
    </div>

    <div class="section-stories-hot__list" id="storyCarousel">
        {% for follow in followed_comics %}
        <div class="story-item">
            <a href="#" class="d-block text-decoration-none">
                <div class="story-item__image">
                    <img src="{% static follow.comic.image.url %}" alt="{{ follow.comic.name }}" loading="lazy">
                </div>
                <h3 class="story-item__name text-one-row story-name">{{ follow.comic.name }}</h3>
            </a>
        </div>
        {% endfor %}
    </div>
    
</div>

{% endblock follow  %}
