    {% extends 'user/base.html' %}
    {% load static %}
    {% block home %}
            {% include 'admin/message.html' %}
    <main>

        <div class="home-container">
            <div class="row">
                <div class="head-title-global d-flex justify-content-between mb-2">
                    <div class="col-4 col-md-3 col-lg-2 head-title-global__left d-flex align-items-center">
                        <h2 class="me-2 mb-0 border-bottom border-secondary pb-1">
                            <a href="#" class="d-block text-decoration-none text-dark fs-4 story-name" title="Truyện Hot">Truyện Hot</a>
                        </h2>
                        <i class="fa-solid fa-fire-flame-curved"></i>
                    </div>
                </div>
            </div>
        
            <div class="section-stories-hot__list" id="storyCarousel">
                {% for comic in top_comics %}
                <div class="story-item">
                    <a href="{% url 'detai' %}?slug={{ comic.slug }}" class="d-block text-decoration-none">
                        <div class="story-item__image">
                            <img src="{{ comic.ImageURL }}" alt="tucam" loading="lazy">
                        </div>
                        <h3 class="story-item__name text-one-row story-name">{{ comic.name }}</h3>
                        <div class="list-badge">
                            <span class="story-item__badge story-item__badge-hot badge text-bg-danger">Hot</span>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            

        </div>
        


    <div class="section-stories-hot mb-3">
        <div class="home-container">
            <div class="row">
                <div class="head-title-global d-flex justify-content-between mb-2">
                    <div class="col-6 col-md-4 col-lg-4 head-title-global__left d-flex align-items-center">
                        <h2 class="me-2 mb-0 border-bottom border-secondary pb-1">
                            <a href="#" class="d-block text-decoration-none text-dark fs-4 story-name"
                                title="Truyện mới cập nhật">Truyện mới cập nhật</a>
                        </h2>
                        <i class="fa-solid fa-fire-flame-curved"></i>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="section-stories-hot__list">
                        {% for comic in comics %}
                        <div class="story-item">
                            <a href="{% url 'detai' %}?slug={{ comic.slug }}" class="d-block text-decoration-none">
                                <div class="story-item__image">
                                    <img src="{{ comic.ImageURL }}" alt="" class="img-fluid" width="150" height="230" loading="lazy">
                                </div>
                                <h3 class="story-item__name text-one-row story-name">{{ comic.name }}</h3>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            
            
            

        </div>

        {% comment %} page {% endcomment %}
        <div class="pagination-container">
            <ul class="pagination justify-content-center">
                {% if comics.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ comics.previous_page_number }}">&laquo;</a>
                    </li>
                {% endif %}
                {% for num in comics.paginator.page_range %}
                    {% if comics.number == num %}
                        <li class="page-item active" aria-current="page">
                            <span class="page-link">{{ num }}</span>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if comics.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ comics.next_page_number }}">&raquo;</a>
                    </li>
                {% endif %}
            </ul>
        </div>


        </main>
    {% endblock home %}