{% extends 'user/base.html' %}
{% load static %}
{% block information %}
    {% include 'admin/message.html' %}

<div class="profile-container">
    <div class="left-sidebar">
        <img src="{% static 'images/avatar.jpg' %}" alt="Ảnh" class="profile-picture">
        <a class="username">{{ user.username }}</a>
        <ul class="sidebar-menu">
            <li><a href="#general-info">Thông tin chung</a></li>
            {% comment %} <li><a href="#change-password">suathongtin</a></li> {% endcomment %}
        </ul>
    </div>
    

    <div class="right-content">
        
        <div id="general-info" class="info-section">
            <h2>Thông tin chung</h2>
            <div class="info-item">
                <strong>Họ và tên:</strong>
                <span class="name"> {{ user.first_name }} {{ user.last_name }}</span>
            </div>
            <div class="info-item">
                <strong>Email:</strong>
                <span class="email">{{ user.email }}</span>
            </div>
        </div>

        {% comment %} <div id="change-password" class="info-section">
            <h2>Đổi mật khẩu</h2>
            <div class="info-item">
                <label for="current-password">Mật khẩu hiện tại:</label>
                <input type="password" id="current-password" name="current-password">
            </div>
            <div class="info-item">
                <label for="new-password">Mật khẩu mới:</label>
                <input type="password" id="new-password" name="new-password">
            </div>
            <div class="info-item">
                <label for="confirm-password">Nhập lại mật khẩu mới:</label>
                <input type="password" id="confirm-password" name="confirm-password">
            </div>
            <div class="info-item">
                <button id="change-password-btn">Đổi mật khẩu</button>
            </div>
        </div> {% endcomment %}
        
        

        <script>
            document.addEventListener("DOMContentLoaded", function() {
                const menuItems = document.querySelectorAll('.sidebar-menu a');
                const changePasswordBtn = document.getElementById('change-password-btn');
                const changePasswordForm = document.getElementById('change-password-form');
        
                menuItems.forEach(item => {
                    item.addEventListener('click', function(e) {
                        e.preventDefault();
                        const targetId = this.getAttribute('href').substring(1);
                        const targetSection = document.getElementById(targetId);
        
                        document.querySelectorAll('.info-section').forEach(section => {
                            section.classList.remove('active');
                        });
                        targetSection.classList.add('active');
                        menuItems.forEach(item => {
                            item.classList.remove('active');
                        });
                        this.classList.add('active');
                    });
                });
        
               
                
            });
        </script>
        
        

    </div>
</div>






{% endblock information %}