{% extends 'user/base.html' %}
{% load static %}
{% block readcomic %}

    <div class="container">
        <h1 class="text-center"> {{ comic.name }}</h1>
        
        {% if current_chapter %}
        <h3 class="text-center">{{ current_chapter.name }}</h3>
        {% endif %}
        
       
        <div class="text-center mb-4">
            <button type="button" class="btn btn-primary" {% if not prev_chapter %}disabled{% endif %} onclick="goToPreviousChapter()"> < </button>
            <select class="custom-select" id="chap-selector" onchange="navigateToChapter()">
                <option selected disabled>{{ current_chapter.name }}</option>
                {% for chap in chapters %}
                    <option value="{{ chap.id }}">{{ chap.name }}</option>
                {% endfor %}
            </select>
            <button type="button" class="btn btn-primary" {% if not next_chapter %}disabled{% endif %} onclick="goToNextChapter()"> > </button>
        </div>
        
       
        
        
        
        
        <div class="row">
                {% for img in images %}
                    <img src="{{ img.ImageURL }}" alt="">
                {% endfor %}
            
        </div>

        <div class="text-center mb-4">
            <button type="button" class="btn btn-primary" {% if not prev_chapter %}disabled{% endif %} onclick="goToPreviousChapter()"> < Chap Trước </button>
            
            <button type="button" class="btn btn-primary" {% if not next_chapter %}disabled{% endif %} onclick="goToNextChapter()"> Chap Sau > </button>
        </div>

        <script>
            function navigateToChapter() {
                var selectedChapterId = document.getElementById("chap-selector").value;
                var currentUrl = window.location.href.split('?')[0]; 
                window.location.href = currentUrl + '?chap_id=' + selectedChapterId;
            }
        
            function goToPreviousChapter() {
                var prevChapterId = "{{ prev_chapter.id }}";
                if (prevChapterId) {
                    var currentUrl = window.location.href.split('?')[0];  
                    window.location.href = currentUrl + '?chap_id=' + prevChapterId;
                }
            }
        
            function goToNextChapter() {
                var nextChapterId = "{{ next_chapter.id }}";
                if (nextChapterId) {
                    var currentUrl = window.location.href.split('?')[0]; 
                    window.location.href = currentUrl + '?chap_id=' + nextChapterId;
                }
            }
        </script>

        

        
        
        {% comment %} chua lam {% endcomment %}
        <h3 class="mt-5">Bình luận</h3>
        <form method="POST" action="">
            {% csrf_token %}
            {{ formComment.title }}
            <div class="float-end mt-2 pt-1">
                <button name="comment" type="submit"
                        class="btn btn btn-primary btn-sm">Bình luận
                </button>
            </div>
        </form>
        {% comment %} <div class="comment-input">
            <input type="text" class="form-control flex-grow-1" placeholder="Nhập bình luận">
            <button type="button" class="btn btn-primary">Gửi</button>
        </div> {% endcomment %}
        
        <div class="comment-container">
            {% for comment in lstComment  %}
                <div class="comment">
                    <img src="{% static 'images/avatar.jpg' %}" alt="Avatar" class="avatar">
                    <div class="comment-content">
                        <strong>{{comment.user.username}}</strong>
                        <p>{{comment.title}}</p>
                    </div>
                </div>
            {% endfor %}
            
        
    
        </div>
    </div>
{% endblock readcomic %}
