
{% extends 'user/base.html' %}
{% load static %}
{% block register %}
    <style>
        
        .containerregister {
            background-image: url("{% static 'user/img/background1.jpg' %}");
            max-width: 400px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            align-items: center;
            background-size: cover;
            background-position: center;
        }
    
        .containerregister h2 {
            margin-top: 0;
            margin-bottom: 20px;
            color: #22c4eb;
        }
    
        .containerregister form {
            width: 100%;
        }
    
        .containerregister label {
            display: block;
            margin-bottom: 10px;
            color: #22c4eb;
        }
    
        .containerregister input[type="text"],
        .containerregister input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border-radius: 4px;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }
    
        .containerregister button[type="submitregister"] {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: 100%;
        }
    
        .containerregister button[type="submitregister"]:hover {
            background-color: #0056b3;
        }
    
        .containerregister p {
            margin-top: 20px;
            color: #333; /* Màu chữ cho đoạn văn */
        }
        
    </style>
</head>
<body>
    <div class="containerregister">
        <h2>Đăng Ký</h2>
        <form action="" method="POST">
            <label for="username">Tài Khoản:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Mật Khẩu:</label>
            <input type="password" id="password" name="password" required>
            <label for="password">Nhập Lại Mật Khẩu:</label>
            <input type="password" id="password" name="password" required>

            <button type="submitregister">Đăng Ký</button>
        </form>
        <p>Bạn đã có tài khoản? <a href="{% url 'login' %}">Đăng Nhập</a>
    </div>
</body>
</html>
{% endblock register %}
